.navbar .o-mail-DiscussSystray-class .badge {
    margin-right: -.5em;
    border: 0;
    padding: 3px 6px;
    background-color: var(--o-navbar-badge-bg, #dc3545);
    font-size: 0.7em;
    color: var(--o-navbar-badge-color, #FFF);
    text-shadow: var(--o-navbar-badge-text-shadow, none);
    transform: translate(-0.6em, -30%);
}

.navbar .dropdown-toggle:not(.o-dropdown-toggle-custo) {
    border-color: transparent;
}
.navbar .dropdown-toggle:not(.o-dropdown-toggle-custo){
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: auto;
    border-radius: 0.25rem;
    user-select: none;
    background: transparent;
    font-size: 1em;
    color: #714b67;
}

